[submodule "iocTops/VQM_ITMS"]
	path = iocTops/VQM_ITMS
	url = https://git.ccfe.ac.uk/DATAnet/VQM_ITMS.git
	ignore = untracked
	branch=master
	
[submodule "iocTops/tspd-adq"]
	path = iocTops/tspd-adq
	url = https://git.ccfe.ac.uk/DATAnet/tspd-adq
	ignore = untracked
[submodule "support/nds3_epics"]
	path = support/nds3_epics
	url = https://git.ccfe.ac.uk/DATAnet/nds3_epics
	ignore = untracked
[submodule "epics-tessella-training"]
	path = epics-tessella-training
	url = https://git.ccfe.ac.uk/codac_ic/epics-tessella-training
[submodule "support/areaDetector"]
	path = support/areaDetector
	url = https://git.ccfe.ac.uk/DATAnet/areaDetector
[submodule "iocTops/CTTSUdp"]
	path = iocTops/CTTSUdp
	ignore = untracked
	url = https://git.ccfe.ac.uk/DATAnet/cttsudp
