[submodule "iocTops/VQM_ITMS"]
	path = iocTops/VQM_ITMS
	url = https://git.ccfe.ac.uk/DATAnet/VQM_ITMS.git
	ignore = untracked
	branch=master
	
[submodule "support/areaDetector-R3-3-2/ADURL"]
	path = support/areaDetector-R3-3-2/ADURL
	url = https://git.ccfe.ac.uk/DATAnet/adurl
[submodule "support/areaDetector-R3-3-2/ADPvCam"]
	path = support/areaDetector-R3-3-2/ADPvCam
	url = https://git.ccfe.ac.uk/DATAnet/adpvcam
[submodule "support/areaDetector-R3-3-2/ADAndor"]
	path = support/areaDetector-R3-3-2/ADAndor
	url = https://github.com/areaDetector/ADAndor
[submodule "support/areaDetector-R3-3-2/ADPICam"]
	path = support/areaDetector-R3-3-2/ADPICam
	url = https://git.ccfe.ac.uk/DATAnet/adpicam
[submodule "iocTops/tspd-adq"]
	path = iocTops/tspd-adq
	url = https://git.ccfe.ac.uk/DATAnet/tspd-adq
[submodule "support/nds3_epics"]
	path = support/nds3_epics
	url = https://git.ccfe.ac.uk/DATAnet/nds3_epics
