bin/
lib/
doc/
include/
db/
dbd/
documentation/html
documentation/*.tag
envPaths
configure/*.local
*/configure/*.local
!configure/ExampleRELEASE.local
!*/configure/ExampleRELEASE.local
ChannelArchiverService/test/results/
**/O.*
*/**/O.*
*/*/**/O.*
QtC-*
