################################################################################
# asynRgaRec.template
# Template to generate a single asynRecord instance to allow
# connection and control of any asyn device at run-time;
# e.g. to control diagnostic output.
#
# Ian Gillingham 14 Jan. 2013
#
################################################################################


record(asyn, "$(device)")
    {
    field(DTYP, "asynRecordDevice")
    field(PORT,"$(PORT)")
    }

